<body>

    <h1>{{title}}</h1>

    <button type="btn">
        <a href="/">
            RETOUR SUR LE SITE
        </a>
    </button>

    <h3>Mes publications</h3> -->


    <!-- Associer bouton edit et delete à chaque article  -->
    {{#each posts}}
    <tr class="table-row">
        <td class="table-posts">
            <div>{{this.titre}}</div>
        </td>
        <td class="table-posts">
            <div>{{this.type}}</div>
        </td>
        <td class="table-posts">
            <div>{{this.date}}</div>
        </td>

        <td class="table-division">

            <a href='/admin/liste/modification/{{this._id}}'>
                <button class="fas fa-edit"></button>
            </a>

            {{!-- <form action='/admin/liste/modification/' method='get'>
                <input type='hidden' name='id' value='{{this._id}}'></input>
                <button type="submit" class="fas fa-edit"></button>
            </form> --}}
        </td>

        <td class="table-division">

            <form action='/admin/liste/suppression/' method='POST'>
                <input type='hidden' name='id' value='{{this._id}}'></input>
                <button type="submit" class="fa fa-trash"></button>
            </form>


        </td>
    </tr>
    {{/each}}

    {{#unless posts}}
    <tr>
        <td colspan="">
            Il n'y a pas d'article pour l'instant
        </td>
    </tr>
    {{/unless}}

    <!--  <div class="card" style="width: 18rem;">
<a href="/article/{{this._id}}"></a>
<div class="post-body">
<h5 class="card-title">{{this.title}}</h5>  -->


    <form action="http://localhost:3000/admin/creation">
        <button type="submit">Créer un nouvel article</button>
    </form>






</body>