 <body>
     
 <h1>{{title}}</h1>

 <button type="btn">
        <a href="/">
            RETOUR SUR LE SITE
        </a>
    </button>

<h3>Mes publications</h3> -->


<!-- Associer bouton edit et delete à chaque article  -->
{{#each posts}}
<tr class="table-row">
    <td class="table-posts">
        <div>{{this.titre}}</div>
    </td>
    <td class="table-posts">
        <div>{{this.type}}</div>
    </td>
    <td class="table-posts">
        <div>{{this.date}}</div>
    </td>
    <td class="table-division">
        <button type="btn" action='/admin/liste/modification/' method='POST'> 
        <a href="liste/modification/{{this._id}}" data-id-post="{{this._id}}" class="fas fa-edit">
        </a>
        </button>
    </td>
    <td class="table-division">
        <button type="btn" action='/admin/liste/suppression/' method='POST'> 
        <a href="liste/suppression/{{this._id}}" data-id-post="{{this._id}}" class="fa fa-trash">
        </a>
        </button>
    </td>
</tr>
{{/each}}

{{#unless posts}}
<tr>
    <td colspan="">
        Il n'y a pas d'article pour l'instant
    </td>
</tr>
{{/unless}}

<!--  <div class="card" style="width: 18rem;">
<a href="/article/{{this._id}}"></a>
<div class="post-body">
<h5 class="card-title">{{this.title}}</h5>  -->

<button type="create-btn">
    <a href="/admin/creation">
        Créer un nouvel article
    </a>
</button>
</div>
</div> 



</body>


