<body>

    <button type="btn">
        <a href="">
            RETOUR SUR LE SITE
        </a>
    </button>

    <h3>Supprimer l'article</h3>

    <tr class="table-row">
        <td class="table-posts">
            <div>{{this.titre}}</div>
        </td>
        <td class="table-posts">
            <div>{{this.type}}</div>
        </td>
        <td class="table-posts">
            <div>{{this.date}}</div>
        </td>

        <td class="table-division">
            <a href="admin/creation/suppression/{{this._id}}" data-id-post="{{this._id}}"
                class="fa fa-trash">
            </a>
        </td>
    </tr>


    <button id="btnPopup" class="btnPopup">Afficher Popup</button>
    <div id="overlay" class="overlay">
        <div id="popup" class="popup">
            <h2>
                <span id="btnClose" class="btnClose">&times;</span>
            </h2>
            <div>
                Vous êtes sur le point de supprimer un article. Si vous validez cette action, l'article sera supprimé
                définitivement.
            </div>
        </div>
    </div>
</body>